<div class="judul-dashboard">
  <h1>Lapak Kosan Anda:</h1>
</div>

<div class="col-sm-12 content-detail">
  <% @kosts.each do |b| %>
    <div class="detail-box">
      <div class="box-img"><%= image_tag b.kost_img.url(:medium)%></div>
      <div class="box-nama"><h3><%= b.nama_kos %></h2></div>
      <div class="box-harga"><h3>IDR <%= b.harga_kos %><h3></div>
      <div class="box-alamat"><p><%= b.alamat %></p></div>
      <div class="box-action">
          <%= link_to 'edit', {controller: 'kosts', action:'edit', id: b.id},  class: "btn btn-info" %>
          <%= link_to 'delete', {controller: 'kosts', action:'destroy', id: b.id}, method: :delete, class: "btn btn-danger" %>
      </div>

    </div>
  <% end %>
</div>
